<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/screenshot_2023_10_02_094436"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserLocation"
        tools:targetApi="31">
        <activity
            android:name=".HowToPage"
            android:exported="false" />
        <activity
            android:name=".FAQ_Page"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true">

            <!-- Specify this as the launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsFile.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".ObservationPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>